body {
  background: linear-gradient(
    91deg,
    rgba(90, 203, 228, 1) 0%,
    rgba(5, 82, 176, 1) 100%
  );
  font-family: "Lato", sans-serif;
}
a {
  color: rgba(5, 82, 176, 0.8);
}
p {
  margin: 0;
}
.weather-app {
  background: rgba(255, 255, 255, 0.78);
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.search-form-input {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px rgba(5, 82, 176, 0.2);
  border-radius: 6px;
  margin-left: 20px;
  width: 40%;
  padding: 8px 20px;
  font-sixe: 16px;
}
.search-form-button {
  background: rgba(5, 82, 176, 0.8);
  border: solid 1px white;
  border-radius: 6px;
  color: white;
  font-sixe: 16px;
  padding: 8px 20px;
  font-weight: 550;
}
.search-form-button:hover {
  cursor: pointer;
  background-color: white;
  color: rgba(5, 82, 176, 0.8);
  border: solid 1px rgba(5, 82, 176, 1);
}
header {
  padding: 0 0 30px 0;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-sixe: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.weather-city h1 {
  margin: 10px 0 0 0;
  font-size: 45px;
  font-weight: 900;
  line-height: 48px;
  color: rgb(7, 41, 83);
}
.weather-country {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0 0 10px;
  padding: 0;
}
.current-time {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 0 10px;
  padding: 0;
}
.weather-emoji {
  font-size: 70px;
  margin: 0;
  margin-top: 0;
  padding: 0;
}
.current-weather {
  display: flex;
}
.weather-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.current-temperature {
  font-size: 40px;
  margin-left: 10px;
  font-weight: 700;
  color: rgb(7, 41, 83);
}
.weather-unit {
  font-size: 20px;
  position: relative;
  top: -12px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.forecast-date {
  text-align: center;
  color: rgba(5, 82, 176, 0.6);
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
}
.forecast-icon {
  text-align: center;
  font-size: 28px;
}
.forecast-temperatures {
  text-align: center;
  color: rgba(5, 82, 176, 0.8);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.temperature {
  padding: 0 5px;
}
